{% load static %}

<!doctype html>

<html>
<head>
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
    </title>


    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <style>tr:nth-child(even) {
        background-color: rgb(168, 192, 168);
    }
    </style>
</head>

<body>
    <header class ="header ex1">
        <nav>
            <a href="{% url 'recipe_list' %}" class = "class1">Main Page ✈</a>
        </nav>
    </header>
    <main>

        <div class = "centered-block">
        <h1 class ="google-fonts f2">Create a Recipe!</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}     <!--Using form.py as content for this page-->
            <button>Create</button>
          </form>
          </div>


    </main>
    <footer class = "footer">
        <div class = "f1 ex2">Made with love by Scrumptious Recipes!</div>
    </footer>

</body>

</html>
