{% load static %}

<!doctype html>

<html>
<head>
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
    </title>

    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <style>tr:nth-child(even) {
        background-color: rgb(168, 192, 168);
    } </style>
</head>

<body>
    <header class ="header ex1">
        <nav>
            <a href="{% url 'recipe_list' %}" class = "class1">Main Page ✈</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}" class = "class2">(Edit)</a>
        </nav>
    </header>
    <main>
        <h4 class = "centertext ex3">{{ recipe_object.title }}</h4>


        <div class = "wrap">

         <img src="{{ recipe_object.picture }}">
            <div class = "nicetext">4.3 Stars ★★★★</div>
            <p>{{ recipe_object.description }}</p>
        </div>
            <h4 class = "ex1">Ingredients</h4>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Items</th>
                    </tr>
                    <tbody>
                        {% for ingredient in recipe_object.ingredients.all %}
                        <tr>
                            <td>{{ ingredient.amount }}</td>
                            <td>{{ ingredient.food_item }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
    <p style="margin-left: 6px;padding: 20px;border-width: 0px; border-color: rgb(255, 255, 255); border-style:solid;"></p>


    <h4>Steps</h4>
    <ol>
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
    <p>Made by: {{ recipe_object.author }}</p>

</div>
</main>
    <footer class = "footer">
        <div class = "f1 ex2">Made with love by Scrumptious Recipes!</div>
    </footer>
</body>

</html>
