{% load static %}

<!doctype html>

<html>
<head>
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <style>tr:nth-child(even) {
        background-color: rgb(168, 192, 168);
    } </style>
</head>

<body>
    <header class ="header ex1">
        <nav>
            <a href="{% url 'recipe_list' %}" class = "class1">Main Page ✈</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ post_object.title }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Save</button>
            </form>
    </main>
    <footer class = "footer">
        <div class = "f1 ex2">Made with love by Scrumptious Recipes!</div>
    </footer>
</body>
</html>
