{% load static %}

<!doctype html>
<html lang="en"> <!-- Need this html START to import font-->
<meta http-equiv="pragma" content="no-cache" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--Need these meta lines to import font-->
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">

</head>

<body>
    <header class ="header">
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'create_recipe' %}" class = "class1">Create a Recipe ✾</a>
            {% endif %}


            {% if user.is_authenticated %}
                <a class = "class1">Hello, {{ user.username }}</a>
            {% else %}
                <a href="{% url 'signup' %}" class = "class1">Sign Up!</a>
                <a href="{% url 'user_login' %}" class = "class1">Login</a>

            {% endif %}
            </nav>
    </header>
    <main>
        <h1 class ="google-fonts f2">Scrumptious Recipes</h1>
        <h2 class = "caveat">All the food that's fit to eat!</h2>

                <div class="wrapper">

                    {% for recipe in recipe_list %}
                    <div>
                      <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                      </h3>
                      <img src="{{ recipe.picture }}">
                      <div>4.3 stars</div>
                      <p>{{ recipe.created_on|date:"F j, Y" }}</p>
                    </div>
                    {% endfor %}
                  </div>
        </div>
    </main>
    <footer class = "footer">
        {% if user.is_authenticated %}
        <a href="{% url 'my_recipe_list' %}" class = "class1 left">My recipes |</a>
        {% endif %}
        <a href="{% url 'user_logout' %}" class = "class1 left">Logout</a>
        <a class ="ex1 class1">Made with love by Scrumptious Recipes!</a>
    </footer>
</body>
</html>
