
{% load static %}



<!doctype html>
<html lang="en"> <!-- Need this html START to import font-->


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--Need these meta lines to import font-->
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">

</head>


<header class ="header ex1">
  <nav>
    <a href="{% url 'recipe_list' %}" class = "class1">Main page</a>
  </nav>
</header>
<main>
  <h1>Login!</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Submit</button>
</form>
</main>
<footer class = "footer">
  <a href="{% url 'user_logout' %}" class = "class1">Logout</a>
  <a class ="ex1 class1">Made with love by Scrumptious Recipes!</a>
</footer>






