{% load static %}

{% block title %}
Logged out! - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
  </nav>
</header>
<main>
  <h1>Logout!</h1>

</form>
</main>
{% endblock content %}
