@import url('https://fonts.googleapis.com/css2?family=Pacifico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');




body {
    background-color: rgb(255, 255, 255);

}
body{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(197, 246, 189));
  background-attachment: fixed;
}

img {
  height: 200px;
  width: 200px;

}

.wrap {
  float: left;
  margin: 15px;
 }

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 375px);
  align-items: center;
  text-align: center;

}
.centered-block{
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -300px; /* Negative half of height. */
  margin-left: -250px;
}
​

.nicetext{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.your-element {

	overflow-x: scroll;
	overflow-y: scroll;
}






 .rounded {
    border-radius: 25px;
    background: #dbc0a4;
    padding: 10px;
    width: 200px;
    height: 150px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background-color: #c57248;
  text-align: left;
  vertical-align: middle;
  line-height: 60px;
  border-top: 4px ridge #85a856;


}

h1{
  text-align: center;
}
h2{
  text-align: center;
}

h4{
  font-family: 'Caveat Brush', sans-serif;
  font-size: 30px;
  line-height: 0px;
  height: 0px;


}

a {
  text-decoration: none;
  color: rgb(47, 118, 47);
  text-align: center;
}

a.class1 {
  color:white;
  font-family: 'Pacifico', sans-serif;
  font-size: 25px;

}

a.class5 {
  color: yellow;
  font-family: 'Pacifico', sans-serif;
  font-size: 25px;

}

a.class2 {
  color:white;
  font-family: 'Pacifico', sans-serif;
  font-size: 25px;
  text-align: right;

}

.centertext{
  text-align: center;
  offset-position: 20%;
}

.title-text{
  color: rgb(47, 118, 47);
}



.header {
  display: grid;
  grid-template-columns: repeat(4, 500px);
  position: sticky;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #85a856;
  font-size: 15px;

  vertical-align: middle;
  line-height: 300px;
  border-bottom: 4px ridge #c9a659;



}

.f1{
  color: white;
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
}

.ex1 {
  padding-left: 1px;
}

.ex2 {
  padding-right: 50px;
}

.ex3{
  padding-right: 100px;
}

.f2 {
  color:#406015
}

.f3 {
  color:rgb(130, 75, 7)
}

.left{
  justify-self: left;
}


/* fonts I am trying */
.google-fonts {
  font-family: 'Pacifico', sans-serif;

}

.caveat{
  font-family: 'Caveat Brush', sans-serif;
  font-size: 20px;

}


  @font-face {
    font-family: "fulboargenta";
    src:
      local("fulboargenta")
      url('fulbo-argenta-webfont.woff2') format('woff2'),
      url('fulbo-argenta-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

}

/* h1 {
  font-family: 'fulboargenta', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  text-align: center;
  } */
